<:Title>
  Products

<:Body>
<!--   {{ if Volt.user.nil? }}
    <div class='text-center home-page-title'>
      <h1 class="so-big"><a href="/login">Login I say!</a></h1>
    </div>
    <META http-equiv="refresh" content="5;URL=/login">
  {{ else }} -->
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Products Index Page</h1>
    </div>
  </div>

  <div class="row">
    {{ model._products.each do |product| }}
      <div class="col-md-6">
        <div class="well">
          <h2>
            <a href="/products/{{ product.__id }}">{{ product._name }}</a>
          </h2>
          <div class='task-options'>
            <span e-click="editing_product(product)" class="glyphicon glyphicon-pencil"></span>
            <span e-click="remove_product(product)" class='glyphicon glyphicon-remove'></span>
          </div>
          {{ if product._editing == true }}
            <label>Product Type:</label>
            <input class="form-control" type="text" value="{{ product._product_type }}" />
          {{ end }}
        </div>
      </div>
    {{ end }}

    <div class="col-md-12">
      <form e-submit="add_product" role="form">
        <div class="form-group">
          <label>New Product:</label>
          <input class="form-control" type="text" value="{{ page._new_product  }}" />
        </div>
      </form>
    </div>

  </div>

